<!doctype html>
<html lang="en" ng-app="BBDocsApp">
  <head>
    <meta charset="UTF-8">
    <title>Brand buttons for Bootstrap</title>
    <link rel="stylesheet" href="https://rawgithub.com/twbs/bootstrap/master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rawgithub.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://rawgithub.com/theaqua/BrandButtons/master/dist/brand-buttons.min.css">
    <link rel="stylesheet" href="https://rawgithub.com/theaqua/BrandButtons/master/dist/brand-buttons-inversed.min.css">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">
              Brand buttons for Bootstrap
            </h1>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-bitcoin">
                <i class="fa fa-bitcoin"></i> Bitcoin
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-facebook">
                <i class="fa fa-facebook"></i> Facebook
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-twitter">
                <i class="fa fa-twitter"></i> Twitter
              </button>
            </div>
            <div class="col-sm-6 col-md-3 btn-demo">
              <button class="btn btn-block btn-lg btn-dribbble">
                <i class="fa fa-dribbble"></i> Dribbble
              </button>
            </div>
            <p class="lead">
              <a href="#features" class="call-to-action">…and 82 others <i class="fa fa-angle-right"></i></a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>
                <a href="#features" class="call-to-action">
                  <i class="fa fa-angle-down fa-5x"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <section class="features" id="features">
        <div class="row">
          <div class="col-xs-6 col-sm-4 feature">
            <div class="features-image">
              <img src="images/sass.svg" alt="">
            </div>
            <h3><span class="hidden-xs">Written with</span> Sass</h3>
          </div>
          <div class="col-xs-6 col-sm-4 feature">
            <div class="features-image">
              <i class="fa fa-heart-o"></i>
            </div>
            <h3>86 items</h3>
          </div>
          <div class="col-xs-12 col-sm-4 feature">
            <div class="features-image">
              <div class="bootstrap-icon">B</div>
            </div>
            <h3>For Bootstrap</h3>
          </div>
        </div>
      </section>

      <section class="new">
        <div class="page-header">
          <h3>What's new <small>in 0.2</small></h3>
        </div>

        <div class="row text-center">
          <div class="col-xs-6 col-sm-3">
            <p>
              <i class="fa fa-terminal fa-5x"></i>
            </p>
            <h3>New name</h3>
          </div>
          <div class="col-xs-6 col-sm-3">
            <p>
              <i class="fa fa-5x">+</i>
            </p>
            <h3>9 new buttons</h3>
          </div>
          <div class="col-xs-6 col-sm-3">
            <p>
              <i class="fa fa-star-half-o fa-5x"></i>
            </p>
            <h3>Inversed version</h3>
          </div>
          <div class="col-xs-6 col-sm-3">
            <p>
              <i class="fa fa-code fa-5x"></i>
            </p>
            <h3>Updated documentation</h3>
          </div>
        </div>
      </section>

      <section ng-controller="ListCtrl">
        <section ng-repeat="brand in brands">
          <div class="page-header">
            <h3>{{brand.name}}</h3>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-3 btn-demo" ng-repeat="btn in brand.list">
              <button class="btn btn-block btn-lg btn-{{btn}}">
                {{btn}}
              </button>
            </div>
          </div>
        </section>
      </section>

      <section class="uses">
        <div class="row">
          <div class="col-sm-6">
            <div class="page-header">
              <h3>Different sizes</h3>
            </div>
            <div class="table-responsive table-sizes">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-xs-2">Size</th>
                    <th>Example</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>.btn-xs</td>
                    <td>
                      <button class="btn btn-xs btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-sm</td>
                    <td>
                      <button class="btn btn-sm btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>default</td>
                    <td>
                      <button class="btn btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-lg</td>
                    <td>
                      <button class="btn btn-lg btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>.btn-block</td>
                    <td>
                      <button class="btn btn-block btn-lg btn-bitcoin">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="page-header">
              <h3>Different uses</h3>
            </div>
            <div class="table-responsive table-sizes">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-xs-2">Use</th>
                    <th>Example</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Only icon</td>
                    <td>
                      <button class="btn btn-xs btn-facebook">
                        <i class="fa fa-facebook"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Plain</td>
                    <td>
                      <button class="btn btn-sm btn-facebook">
                        Facebook
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>With icon</td>
                    <td>
                      <button class="btn btn-facebook">
                        <i class="fa fa-facebook"></i> Facebook
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Any content</td>
                    <td>
                      <button class="btn btn-lg btn-facebook">
                        <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Inversed</td>
                    <td>
                      <button class="btn btn-lg btn-block btn-facebook-inversed">
                        <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section class="font-awesome">
        <div class="page-header">
          <h3>With Font Awesome</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-android">
              <i class="fa fa-android"></i> Android
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-bitcoin">
              <i class="fa fa-bitcoin"></i> Bitcoin
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-bitbucket">
              <i class="fa fa-bitbucket"></i> Bitbucket
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-dribbble">
              <i class="fa fa-dribbble"></i> Dribbble
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-dropbox">
              <i class="fa fa-dropbox"></i> Dropbox
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-facebook">
              <i class="fa fa-facebook"></i> Facebook
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-flickr">
              <i class="fa fa-flickr"></i> Flickr
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-foursquare">
              <i class="fa fa-foursquare"></i> Foursquare
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-googleplus">
              <i class="fa fa-google-plus"></i> Google+
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-html5">
              <i class="fa fa-html5"></i> HTML5
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-instagram">
              <i class="fa fa-instagram"></i> Instagram
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-linkedin">
              <i class="fa fa-linkedin"></i> LinkedIn
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-pinterest">
              <i class="fa fa-pinterest"></i> Pinterest
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-rss">
              <i class="fa fa-rss"></i> RSS
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-skype">
              <i class="fa fa-skype"></i> Skype
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-stackoverflow">
              <i class="fa fa-stack-overflow"></i> StackOverflow
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-tumblr">
              <i class="fa fa-tumblr"></i> Tumblr
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-twitter">
              <i class="fa fa-twitter"></i> Twitter
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-vk">
              <i class="fa fa-vk"></i> VK
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-weibo">
              <i class="fa fa-weibo"></i> Weibo
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-windows">
              <i class="fa fa-windows"></i> Windows
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-xing">
              <i class="fa fa-xing"></i> Xing
            </button>
          </div>
          <div class="col-sm-6 col-md-3 btn-demo">
            <button class="btn btn-block btn-lg btn-youtube">
              <i class="fa fa-youtube-play"></i> YouTube
            </button>
          </div>
        </div>
      </section>

      <section class="install">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header">
              <h3>Install and usage</h3>
            </div>
            <ul>
              <li>Install: <code>npm install bootstrap-brand-buttons</code></li>
              <li>
                Include <code>dist/brand-buttons.min.css</code> to your file: <code>&lt;link rel="stylesheet" src="dist/brand-buttons.min.css"&gt;</code>
              </li>
              <li>
                Use as Bootstrap button: <code>&lt;button class="btn btn-facebook"&gt;Facebook&lt;/button&gt;</code> or <code>&lt;a href="" class="btn btn-facebook">Facebook&lt;/a></code>
              </li>
              <li>
                For inversed version you need include <a href="https://github.com/theaqua/BrandButtons/blob/master/dist/brand-buttons-inversed.min.css">brand-buttons-inversed.min.css</a> and use as <code>.btn-brand-inversed</code>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="page-header">
              <h3>Development version</h3>
            </div>
            <ul>
              <li>
                Clone repository <code>git clone https://github.com/theaqua/BrandButtons.git</code>
              </li>
              <li>
                Install Grunt.js and CoffeeScript (globally): <code>npm install -g grunt-cli coffee-script</code>
              </li>
              <li>
                Go to project <code>cd BrandButtons</code>, install dev dependencies: <code>npm install</code>
              </li>
              <li>
                Run <code>grunt serve</code> or <code>grunt build</code>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="footer">
        <div class="row">
          <div class="col-xs-12">
            <hr>
            <h3>Brand buttons by <a href="//theaqua.im">Eugene Rodionov</a>. Get on <a href="//github.com/theaqua/BrandButtons"><i class="fa fa-github"></i> GitHub</a>.</h3>
            <h3>
              <a href="https://gumroad.com/l/BrandButtons">Donate</a> or <a href="//github.com/theaqua/BrandButtons/issues">request new button</a>.</h3>
          </div>
        </div>
      </section>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/list.js"></script>
  </body>
</html>
